<section class="comment-section">
  <ul class="comments">
    <%= render @comments %>
  </ul>.
  <%= form_for [@post, @post.comments.new], remote: true do|f| %>
      <fieldset>
        <ul>
          <li>
            <%= f.text_area :body, class:'form-control', rows: 2, cols: 60,
                            placeholder: 'Write a comment...' %>
          </li>
          <li class="button_margin_comment">
            <%= f.submit 'Post comment', class: "btn btn-success btn-sm" %>
          </li>
        </ul>
      </fieldset>
  <% end %>
</section>