
<% provide(:title, "Posts") %>
<h1>Posts</h1>


<table class="table">
  <% if @posts.count == 0 %>
    <h2>Posts list are empty.</h2>
  <% else %>
    <%= render @posts %>
  <% end %>
</table>

<br>
<%= link_to 'New Post', new_post_path, remote: true, id:"new_post_link", class: "btn btn-success"  %>
