// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-section{
  float:right;
  li {
    position:relative;
    list-style-type: none;

    .side{
      position:absolute;
      background-color: saddlebrown;
      width: 10px;
      height:100%;
    }

    .comment_body{
      margin-left: 10px;
      background-color: burlywood;
      margin-left: 0px;
      padding-left: 15px;

    }
  }
  .date{
    color: #999999;
  }
  .button_margin_comment{
    margin-top: 10px;
  }
}
.row-comments{
  display:none;
}

.nested_comments{
  margin-left: 50px;
}

.nested_comments .nested_comments .nested_comments{
  margin-left: 0;
}