@import "bootstrap-sprockets";
@import "bootstrap";

.image_logo{
  float:left;
}
.content{
  margin-top: 25px;
}
.container_post{
  padding: 0 0 0 0 !important;
  background-color: burlywood;
  width: 100% !important;
}

h3{
  padding-left: 210px;
}
.content{
  margin-left: 220px;
}

.small_logo{
  padding-left: 0px !important;
  width: 68px;
}
#header_style{
  background-color: #4a301d;
}